---
layout: default
---
<article class="post">
  <header> 
    <div class="title">
      <h2>{{ page.title | escape }}</h2>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%F" }}</time>
      <a href="{{ site.author.cv }}" class="author"><span class="name">{{ site.author.name }}</span><img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="svyh" /></a>
    </div>
  </header>
  {{ content }}
  
  <footer>
    <ul class="stats">
      <li><a class="icon" href="{{ site.url }}"><i class="fas fa-fw fa-folder"></i> 메인</a></li>
    </ul>
  </footer>
  
</div>
</article>
<ul class="actions pagination">
  {% if page.previous.url %}
    <li><a href="{{page.previous.url}}" class="button big previous icon"><i class="fw fas fa-chevron-left"></i> 다음 게시글</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a href="{{page.next.url}}" class="button big next icon">이전 게시글 <i class="fw fas fa-chevron-right"></i></a></li>
  {% endif %}
</ul>


{%include comments.html %}


